@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 221.2 83.2% 53.3%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 64.2% 40.2%;
        --destructive-foreground: 210 40% 98%;

        --success: 123, 43%, 31%;
        --success-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 221.2 83.2% 53.3%;
        --radius: 0.5rem;

        --lavender: 276, 53%, 63%;
        --lavender-foreground: 276 54% 43%;

        --orange: 38, 53%, 53%;
        --orange-foreground: 38, 54%, 43%;

        --yellow: 50, 54%, 63%;
        --yellow-foreground: 50, 54%, 43%;

        --green: 83, 54%, 63%;
        --green-foreground: 83, 54%, 43%;

        --emerald: 136, 54%, 63%;
        --emerald-foreground: 136, 54%, 43%;

    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 217.2 91.2% 30.8%;
        --primary-foreground: 222.2 47.4% 98.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 59.8% 40.6%;
        --destructive-foreground: 210 40% 98%;

        --success: 123, 43%, 61%;
        --success-foreground: 210 40% 98%;

        --border: 217.2 72.6% 17.5%;
        --input: 217.2 72.6% 17.5%;
        --ring: 224.3 76.3% 48%;

        --lavender: 276, 54%, 33%;
        --lavender-foreground: 276 54% 23%;

        --orange: 38, 54%, 33%;
        --orange-foreground: 38, 54%, 23%;

        --yellow: 50, 54%, 33%;
        --yellow-foreground: 50, 54%, 23%;

        --green: 83, 54%, 33%;
        --green-foreground: 83, 54%, 23%;

        --emerald: 136, 54%, 33%;
        --emerald-foreground: 136, 54%, 23%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}
